.row{
	text-align: center;
}

.card{
	display: inline-block;
	width:100px;
	height:100px;
	background-color: #eee;
	cursor:pointer;
}

.card.done{
	cursor:default;
}

.card.done:hover{
	cursor:default;
	box-shadow: none;
}

.card:hover{
	box-shadow: inset 0px 0px 0px 1px black; 
	box-sizing: border-box;
}

/* .color-hidden{
	background-color:#eee;
} */

.pink{
	background-color: pink;
}

.yellow{
	background-color:yellow;
}
.red{
	background-color:red;
}

.cyan{
	background-color:cyan;
}


.blue{
	background-color:blue;
}

.teal{
	background-color:teal;
}
.orange{
	background-color: orange;
}

.green{
	background-color:green;
}

.color-hidden{
	background-color:#eee;
} 